<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>{% block title %}Blog{% endblock %}</title>

            <!-- Bootstrap Core CSS -->
            <link href="../public/css/bootstrap.min.css" rel="stylesheet">
            <!-- Theme CSS -->
            <link href="../public/css/freelancer.min.css" rel="stylesheet">

            <script
                    src="https://code.jquery.com/jquery-3.2.1.js"
                    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                    crossorigin="anonymous">
            </script>
            <script src="https://kit.fontawesome.com/cedb22606b.js" crossorigin="anonymous"></script>
            <!-- Custom Fonts copier le CDN -->
            <link href="../public/css/font-awesome.min.css" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="../public/css/style.css">
        </head>
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom" style="opacity: 0.5">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.php">Blog Portfolio</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                       {# {% if session.newsession is empty or session.newsession.deconnection%}
                                               {% else %}
                         {% endif %}

                       #}
                            <li class="page-scroll">
                                <a class="nav-link" href="index.php?route=signUp">S'inscrire</a>
                            </li>
                            <li class="page-scroll">
                                <a class="nav-link" href="index.php?route=login">Se connecter</a>
                            </li>
                            <li class="page-scroll " >
                                <a class="nav-link" href="index.php?route=signOut">Se déconnecter</a>
                            </li>
                        <li class="page-scroll">
                            <a class="nav-link" href="index.php?route=posts">Articles</a>
                        </li>
                    </ul>
                </div>
           </nav>
        {% block body %}
        {% endblock %}
    <!-- Bootstrap Core JavaScript -->
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/style.js"></script>
    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"></script>
</html>