{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {{ dump() }}
        {% for post in posts %}
            <p>{{ post.title }}</p>
        {% endfor%}
    </div>
{% endblock %}
